<!DOCTYPE html>
<html>
<head>
	<title>Programming Spring 2020 10.A AXIOS JSON </title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
      <h1>QUOTES on DESIGN</h1>
      <small>Curated by Chris Coyier <a href="https://quotesondesign.com/api/" target="_blank">API</a></small>
      <div v-cloak id="designQuotesApp" class="track-wrapper">
        <!--<streaming-track :track="song" v-for="song in tracks"></streaming-track>-->
        <design-quotes v-for="quote in quotes"></design-quotes>
      </div>
	<script type="text/javascript" src="js/designquotes.js"></script>
</body>
</html>

