@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&display=swap');

html{
    font-family: 'IBM Plex Sans', sans-serif;
}

[v-cloak] {
  display: none;
}
.brewery-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.brew{
    width: 200px;
    border: 3px solid black;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 10px 0;
}
.brew h3{
    padding: 0;
    margin: 0;
    font-size: 14px;
}
.head{
    text-align: center;
}