@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Montserrat+Subrayada:wght@700&display=swap');

h1 {
	font-family: 'Montserrat Subrayada', sans-serif;
}
p, ul{
	font-family: 'Lato', sans-serif;
}
ul{
	list-style-type: none;
}


