[v-cloak] {
  display: none;
}
html {
  font-family: Verdana, Geneva, "DejaVu Sans", sans-serif
}
.llama-list-title {
  border-bottom: 2px solid #333;
  margin: 10px auto;
  text-align: center;
  font-weight: 400;
}
.list-container {
  border-bottom: 1px solid #333;
  padding: 5px;
}
.list-head .rank, .list-head .name {
  display: inline-block;
  width: 45%;
  text-align: center;
}
.altRow{
  background: #7FDBFF;
}
/* styling all that have "llama" in here */
.myStyle {
  font-weight: bold;
  padding: 0.2em;
}
ul.list-head{
  padding-left: 0 !important;
}