<!DOCTYPE html>
<html>
<head>
	<title>Programming Spring 2020 7.2 Llama List</title>

	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	<div v-cloak id="llama-list">
		 <h1 class="llama-list-title">What to name your next llama</h1>
      <div class="list-container"  v-for="(llama, index) in llamas" 
             v-bind:class="{odd: index % 2 === 0}">
        <div class="list-head">
          <span class="rank">{{ llama.rank }}</span>
           <span class="name">{{ llama.name }}</span>
          <!--<ul>
          	<li v-for="value in llamas" :key="value.rank" :style="{ 'background-color': altRow }">  </li>
          </ul>-->
        </div>
      </div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script type="text/javascript" src="js/llamalist.js"></script>
</body>
</html>