<!DOCTYPE html>
<html>
<head>
	<title>Programming Spring 2020 7.2 Llama List</title>

	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	<div v-cloak id="llama-list">
		 <h1 class="llama-list-title">What to name your next llama</h1>
     <div class="list-container">
        <div class="list-head">
          <span class="rank">Rank</span>
          <span class="name">Name</span>
        </div>
      <div class="list-container"  v-for="(llama, index) in llamas" 
             :class="{altRow: index % 2 === 0}">
        <ul class="list-head">
            <li class="rank"> {{llama.rank}}</li>
            <!-- adding toLowerCase to target all "llama"s, & creating myStyle to customize 'them -->
            <li class="name" v-bind:class="{myStyle: llama.name.toLowerCase().includes('llama')}"> {{ llama.name }}</li>
          </ul>
      </div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script type="text/javascript" src="js/llamalist.js"></script>
</body>
</html>

 <ul>
            <li v-for="value in llamas" :key="value.rank" :style="{ 'background-color': altRow }">  </li>
          </ul>