@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@400;700&display=swap');

html{
    font-family: 'Chivo', sans-serif;
    background-color: #fff;
}

[v-cloak] {
  display: none;
}
.beer-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}
.beer-wrapper img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.randbeer{
    width: 300px;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 10px 0;
    background-color: #03AFDB;
}
.randbeer h3{
    padding: 0;
    margin: 0;
    font-size: 14px;
}
#beername{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 30px;
    margin: 0;
}
#beerABV{
    color: #de0000;
    font-size: 30px;
}
#beerPairing{
    text-transform: uppercase;
    font-size: 20px;
}
.head{
    text-align: center;
}